@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*Palindrome checker start*/
.palindromeBody{
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  background-color: #0a0a23;  
  color: #ffffff;
  height: 100vh;
  border: 1rem black solid;
}

.board {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(15, 1fr);
  gap: 1px;
  width: 400px;
  height: 400px;
  border: 1px solid white;
  background-color: #0a0a23;
}

/* Responsive design for screens smaller than 600px */
@media (max-width: 600px) {
  .board {
    width: 90vw;
    height: 90vw;
  }
}

.cell {
  border: 1px solid white;
  background-color: #0a0a23;
  width: calc(400px / 15);
  height: calc(400px / 15);
}

.double-letter { background-color: #008CBA; }
.triple-letter { background-color: #f1cc6d; }
.double-word { background-color: #026d91 }
.triple-word { background-color: #ffac33; }
.center-star { background-color: #ffac33; }

.input-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

#text-input {
  margin-right: 10px;
}

.palindromeParagraph{
  align-items: center;
  padding: 20px;
}
/*Palindrome checker end*/

.telephoneTitle{
  color: white;
}
.telephoneResults{
  color: black;
  font-size: 40px;
}

.intro{
    padding: 20px;
  text-align: center;
  max-height: 90px;
  width: 100%;
}

img{
  max-width: 13rem;
  height: 15rem;
}/*moved images to styles 13/06/2024*/

body {
  /*background-color: var(--dark-grey);*/
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0a0a23;
  color: #ffffff;
}

.navButton {
    background-color: #008CBA;
  color: white;
padding: 0.1vw 0.2vw;/*changed from pixels to viewport width 13/06/2024*/
  margin: 1vw 0vw;/*changed from pixels to viewport width 13/06/2024*/
  border: 0.1vw #0a0a23 solid;/*changed border from none 13/06/2024*/
  cursor: pointer;
  }
 .navButton:hover {
    background-color: #005f73;
  }

#check-btn-number {
  background-color: #aeb3ff;
}

#clear-btn {
  background-color: #fffaae; 
}

/* Results */
#results-div {
  
  max-height: 200px;
  width: 100%;
  font-size: 1.2rem;
  text-align: center;
  margin: 10px 0;
}
.button{
  cursor: pointer;
  color: #0a0a23;
  background-color: #feac32;
  background-image: linear-gradient(#fecc4c, #ffac33);
  border: 0.2vw solid #feac32;/*13/06/2024 changed from pixels to vw*/
  margin: 0.5vw;/*13/06/2024 changed from pixels to vw*/
  font-size: 0.9vw;/*13/06/2024 changed pixels to vw*/
}

.converterTitle{
  margin: 25px;
}
/*general css file*/
@media (prefers-color-scheme: dark) {
  body {
    font-weight: 350;
  }
}/*01/07/2024 added dark mode for font changes*/
